html {
  max-width: 1500px;
  overflow-y: scroll;
  height: 100%;
}

div.product-card-header {
  padding-left: 0;  
  span:first-child {
    color: #000000;
    font-size: 16px;
    line-height: 20px;
  }
}