.vertical_divider {
  width: 1px;
  background-color:  rgba(0, 0, 0, 0.23);
  display: block;
}

.full_size {
  height: 100%;
}

.half_size {
  height: 50%;
}

.margin {
  margin: 1rem;
}

.no-margin {
  margin: 0;
}
